<h1>MonthlyStatus</h1>

<p>
  <%= link_to 'Excel Download', controller: 'home', action: 'monthly_status', format: 'xls' %> </br>
  <%= link_to 'CSV Download', controller: 'home', action: 'monthly_status', format: 'csv' %>
</p>