<h1>Breakdown by status</h1>

<p>
  <%= link_to 'Excel Download', controller: 'home', action: 'status', format: 'xls' %> </br>
  <%= link_to 'CSV Download', controller: 'home', action: 'status', format: 'csv' %>
</p>