<h1>Total distance</h1>

<p>
  <%= link_to 'Excel Download', controller: 'home', action: 'total_distance', format: 'xls' %> </br>
  <%= link_to 'CSV Download', controller: 'home', action: 'total_distance', format: 'csv' %>
</p>